p Hey, #{user.FNAME}!
p Please click this link to confirm that you own this email address:
p
  a(href= confLink) Confirm your email address.
p If you didn’t sign up at lengstorf.com, you can ignore this message.
p Thanks!
  br
  | Jason Lengstorf
